<div class="headertopwhl">
  <div class="headertop">
    <div class="gametopmenus navbar">
      <div class="mr-auto mlogo">
        <div class="mobtlogo">
          <a routerLink="/"
            ><img src="assets/images/logo.webp" class="desklogo"
          /></a>
        </div>
      </div>

      <ul class="ml-auto">
        <!-- <div id="google_translate_element" class="mr-1"></div> -->
        <li class="nav-item hov">
          <a
            class="nav-link toplink iconbutton"
            data-toggle="modal"
            data-target="#signin"
            ><svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 24 24"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill="none"
                stroke-width="2"
                d="M15,16 L21,22 L15,16 Z M10,18 C13.8659932,18 17,14.8659932 17,11 C17,7.13400675 13.8659932,4 10,4 C6.13400675,4 3,7.13400675 3,11 C3,14.8659932 6.13400675,18 10,18 Z M20,1 L20,7 M17,4 L23,4"
              ></path>
            </svg>
          </a>
        </li>
        <li class="nav-item hov">
          <a
            class="nav-link btn signin toplink"
            data-toggle="modal"
            data-target="#signin"
            >Sign in</a
          >
        </li>
        <li class="nav-item hov">
          <a
            class="nav-link btn sitebtn toplink"
            data-toggle="modal"
            data-target="#signup"
            >Sign up</a
          >
        </li>
        <li class="nav-item hov">
          <a
            class="nav-link iconbutton langicon"
            data-toggle="modal"
            data-target="#exampleModa3"
          >
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 512 512"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill="none"
                stroke-miterlimit="10"
                stroke-width="32"
                d="M256 48C141.13 48 48 141.13 48 256s93.13 208 208 208 208-93.13 208-208S370.87 48 256 48z"
              ></path>
              <path
                fill="none"
                stroke-miterlimit="10"
                stroke-width="32"
                d="M256 48c-58.07 0-112.67 93.13-112.67 208S197.93 464 256 464s112.67-93.13 112.67-208S314.07 48 256 48z"
              ></path>
              <path
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
                d="M117.33 117.33c38.24 27.15 86.38 43.34 138.67 43.34s100.43-16.19 138.67-43.34m0 277.34c-38.24-27.15-86.38-43.34-138.67-43.34s-100.43 16.19-138.67 43.34"
              ></path>
              <path
                fill="none"
                stroke-miterlimit="10"
                stroke-width="32"
                d="M256 48v416m208-208H48"
              ></path>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button> -->
<!-- language modal -->
<div
  class="modal fade"
  id="exampleModa3"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Language</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="google_translate_element" class="mr-1"></div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="signin"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sign in</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center">
          <div class="col mobx">
            <div class="text-center welcomebox">Welcome Pack</div>
            <h4 class="bf text-center">
              Choose Your welcome Pack and
              <span class="green-t nl">Get 1000 APE + $3 400</span>
            </h4>
            <div class="boxwhl">
              <div class="box">
                <div class=""><img src="assets/images/gold.svg" /></div>
                <div class="bf">Gold</div>
                <div class="small bf green-t">1000 APE + $3 400</div>
              </div>
              <div class="box">
                <div class=""><img src="assets/images/gold.svg" /></div>
                <div class="bf">Gold</div>
                <div class="small bf green-t">1000 APE + $3 400</div>
              </div>
              <div class="box">
                <div class=""><img src="assets/images/gold.svg" /></div>
                <div class="bf">Gold</div>
                <div class="small bf green-t">1000 APE + $3 400</div>
              </div>
            </div>
            <h5 class="text-center my-3 lh32">
              Sign Up And Get<span class="nl green-t"
                >100 Nos Deposit Free Spins</span
              >
            </h5>
          </div>
          <div class="col">
            <form #login="ngForm" autocomplete="off" novalidate>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input
                  type="email"
                  name="email"
                  class="form-control darkinput"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter email"
                  #e="ngModel"
                  ngModel
                  required
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                />
                <div
                  *ngIf="e.errors && (e.valid || e.touched || login.submitted)"
                  class="errMsg"
                >
                  <span *ngIf="e.errors?.['required']" class="error">{{
                    "Enter Email"
                  }}</span>
                  <span *ngIf="e.errors?.['pattern']" class="error">{{
                    "Enter valid Email"
                  }}</span>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input
                  type="password"
                  name="password"
                  #p="ngModel"
                  class="form-control darkinput"
                  id="exampleInputPassword1"
                  placeholder="Password"
                  [minlength]="8"
                  [maxlength]="20"
                  ngModel
                  required
                />
                <div
                  *ngIf="p.errors && (p.valid || p.touched || login.submitted)"
                  class="errMsg"
                >
                  <span *ngIf="p.errors?.['required']" class="error">{{
                    "Enter Password"
                  }}</span>
                  <span *ngIf="p.errors?.['minlength']" class="error">{{
                    "password must be 8-20 letters"
                  }}</span>
                </div>
              </div>
              <div class="text-right">
                <a
                  href="#"
                  class="green-t"
                  data-toggle="modal"
                  data-target="#forgot"
                  data-dismiss="modal"
                  aria-label="Close"
                  (click)="confirmedData()"
                  >forgot password ?</a
                >
              </div>

              <div class="form-group text-center">Or Login With</div>
              <div class="form-group">
                <ul class="socialicons">
                  <li>
                    <a [href]="'mailto:' + adm_mail"
                      ><img src="assets/images/gmail-icon.svg"
                    /></a>
                  </li>
                  <li>
                    <a [href]="'http://' + adm_insta"
                      ><img src="assets/images/instagram-icon.svg"
                    /></a>
                  </li>
                  <li>
                    <a [href]="adm_telegram"
                      ><img src="assets/images/rollgame-telegram.svg"
                    /></a>
                  </li>
                  <li>
                    <a [href]="'http://' + adm_skype"
                      ><img src="assets/images/rollgame-skype.svg"
                    /></a>
                  </li>
                  <li>
                    <a [href]="'http://' + adm_facebook"
                      ><img src="assets/images/rollgame-facebook.svg"
                    /></a>
                  </li>
                </ul>
              </div>
              <div class="form-group">
                By accessing the site, I confirm that I am 18 years old and I
                have read the <span class="green-t hov">terms of service</span>
              </div>
              <div class="form-group">
                Don't you have an account
                <a
                  href="#"
                  class="green-t"
                  data-toggle="modal"
                  data-target="#signup"
                  data-dismiss="modal"
                  aria-label="Close"
                  (click)="confirmedData()"
                  >Sign Up</a
                >
              </div>
              <button
                type="submit"
                class="btn sitebtn d-block w-100"
                [disabled]="login.invalid"
                (click)="executeAction('login', login)"
                data-dismiss="modal"
                aria-label="Close"
              >
                Sign In
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="signup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sign up</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center">
          <div class="col mobx">
            <div class="text-center welcomebox">Welcome Pack</div>
            <h4 class="bf text-center my-4">
              Choose Your welcome Pack and
              <span class="green-t nl">Get 1000 APE + $3 400</span>
            </h4>
            <div class="boxwhl">
              <div class="box">
                <div class=""><img src="assets/images/gold.svg" /></div>
                <div class="bf">Gold</div>
                <div class="small bf green-t">1000 APE + $3 400</div>
              </div>
              <div class="box">
                <div class=""><img src="assets/images/gold.svg" /></div>
                <div class="bf">Gold</div>
                <div class="small bf green-t">1000 APE + $3 400</div>
              </div>
              <div class="box">
                <div class=""><img src="assets/images/gold.svg" /></div>
                <div class="bf">Gold</div>
                <div class="small bf green-t">1000 APE + $3 400</div>
              </div>
            </div>
            <h5 class="text-center my-4">
              Sign Up And Get<span class="nl green-t"
                >100 Nos Deposit Free Spins</span
              >
            </h5>
          </div>
          <div class="col">
            <form #f="ngForm" autocomplete="off">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control darkinput"
                  name="username"
                  #name="ngModel"
                  placeholder="User Name"
                  ngModel
                  (ngModelChange)="checkname($event)"
                  [minlength]="6"
                  required
                  pattern="^[a-zA-Z0-9_]+$"
                />
                <div
                  *ngIf="
                    name.errors && (name.valid || name.touched || f.submitted)
                  "
                  class="errMsg"
                >
                  <span *ngIf="name.errors?.['required']" class="error">{{
                    "Enter user name"
                  }}</span>
                  <span *ngIf="name.errors?.['minlength']" class="error">{{
                    "name must be minimum 6 letters"
                  }}</span>
                  <span *ngIf="name.errors?.['pattern']" class="error">{{
                    "Enter valid User Name"
                  }}</span>
                </div>
                <div
                  *ngIf="!usrname && (name.valid || f.submitted)"
                  class="errMsg"
                >
                  <span *ngIf="!usrname" class="error">{{
                    "Username already exists"
                  }}</span>
                </div>
              </div>

              <div class="form-group">
                <input
                  type="email"
                  class="form-control darkinput"
                  placeholder="Email/Phone Number"
                  name="email"
                  #eml="ngModel"
                  ngModel
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                  (ngModelChange)="checkemail($event)"
                  required
                />
                <div
                  *ngIf="
                    eml.errors && (eml.valid || eml.touched || f.submitted)
                  "
                  class="errMsg"
                >
                  <span *ngIf="eml.errors?.['required']" class="error">{{
                    "Enter Email"
                  }}</span>
                  <span *ngIf="eml.errors?.['pattern']" class="error">{{
                    "Enter valid Email"
                  }}</span>
                </div>
                <div
                  *ngIf="!usrmail && (eml.valid || f.submitted)"
                  class="errMsg"
                >
                  <span *ngIf="!usrmail" class="error">{{
                    "Email already exists"
                  }}</span>
                </div>
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control darkinput"
                  name="password"
                  #password="ngModel"
                  placeholder="Login Password"
                  (ngModelChange)="typePwd($event)"
                  [maxlength]="20"
                  [minlength]="8"
                  ngModel
                  required
                />
                <div
                  *ngIf="
                    password.errors &&
                    (password.valid || password.touched || f.submitted)
                  "
                  class="errMsg"
                >
                  <span *ngIf="password.errors?.['required']" class="error">{{
                    "Enter Password"
                  }}</span>
                  <span *ngIf="password.errors?.['minlength']" class="error">{{
                    "password must be 8-20 letters"
                  }}</span>
                  <span *ngIf="password.errors?.['maxlength']" class="error">{{
                    "password must be 8-20 letters"
                  }}</span>
                </div>
                <div
                  *ngIf="
                    (!lower || !upper || !len || !num || !spec) &&
                    password.valid
                  "
                  class="errMsg"
                >
                  <span *ngIf="!lower" class="error">{{
                    "Enter atleast one lowercase"
                  }}</span>
                  <span *ngIf="!upper" class="error">{{
                    "Enter atleast one uppercase"
                  }}</span>
                  <span *ngIf="!len" class="error">{{
                    "password must be 8-20 characters"
                  }}</span>
                  <span *ngIf="!num" class="error">{{
                    "Enter atleast one number"
                  }}</span>
                  <span *ngIf="!spec" class="error">{{
                    "Enter atleast one special character"
                  }}</span>
                </div>
              </div>

              <div class="form-group">
                <input
                  type="text"
                  class="form-control darkinput"
                  placeholder="Promo Code (Optional)"
                  name="refer"
                  #Code="ngModel"
                  [(ngModel)]="refId"
                />
              </div>
              <div class="form-check my-3">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="exampleCheck1"
                  name="agree"
                  #agree="ngModel"
                  ngModel
                  required
                />
                <label class="form-check-label greyt" for="exampleCheck1"
                  >I confirm that I am 18 years old and I have read the Terms of
                  Service</label
                >
              </div>
              <button
                type="submit"
                class="btn sitebtn d-block w-100"
                [disabled]="
                  f.invalid || !lower || !upper || !len || !num || !spec
                "
                (click)="executeAction('signup', f)"
                data-dismiss="modal"
                aria-label="Close"
              >
                Sign Up
              </button>
              <div class="form-group text-center mt-4">Or Login With</div>
              <div class="form-group">
                <ul class="socialicons">
                  <li>
                    <a [href]="'mailto:' + adm_mail"
                      ><img src="assets/images/gmail-icon.svg"
                    /></a>
                  </li>
                  <li>
                    <a [href]="'http://' + adm_insta"
                      ><img src="assets/images/instagram-icon.svg"
                    /></a>
                  </li>
                  <li>
                    <a [href]="adm_telegram"
                      ><img src="assets/images/rollgame-telegram.svg"
                    /></a>
                  </li>
                  <li>
                    <a [href]="'http://' + adm_skype"
                      ><img src="assets/images/rollgame-skype.svg"
                    /></a>
                  </li>
                  <li>
                    <a [href]="'http://' + adm_facebook"
                      ><img src="assets/images/rollgame-facebook.svg"
                    /></a>
                  </li>
                </ul>
              </div>
              <div class="form-group">
                Don't you have an account
                <a
                  class="green-t pointer"
                  data-toggle="modal"
                  data-target="#signin"
                  data-dismiss="modal"
                  aria-label="Close"
                  (click)="confirmedData()"
                  >Login</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle1 }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content adj">
      <div class="modal-header">
        <h4 class="modal-title">Tfa Login</h4>
        <button type="button" class="btn btn-danger" (click)="closePopup()">
          X
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center">
          <div class="col">
            <div class="text-center welcomebox">Welcome Pack</div>
            <h4 class="bf text-center">
              Choose Your welcome Pack and
              <span class="green-t nl">Get 1000 APE + $3 400</span>
            </h4>
            <div class="boxwhl">
              <div class="box">
                <div class=""><img src="assets/images/gold.svg" /></div>
                <div class="bf">Gold</div>
                <div class="small bf green-t">1000 APE + $3 400</div>
              </div>
              <div class="box">
                <div class=""><img src="assets/images/gold.svg" /></div>
                <div class="bf">Gold</div>
                <div class="small bf green-t">1000 APE + $3 400</div>
              </div>
              <div class="box">
                <div class=""><img src="assets/images/gold.svg" /></div>
                <div class="bf">Gold</div>
                <div class="small bf green-t">1000 APE + $3 400</div>
              </div>
            </div>
            <h5 class="text-center my-3 lh32">
              Sign Up And Get<span class="nl green-t"
                >100 Nos Deposit Free Spins</span
              >
            </h5>
          </div>
          <div class="col">
            <form #tfalogin="ngForm" autocomplete="off" novalidate>
              <div class="form-group">
                <input
                  type="text"
                  name="tfaCode"
                  class="form-control darkinput"
                  ngModel
                  #tfa="ngModel"
                  [class.is-invalid]="e.invalid && e.touched"
                  placeholder="6 Digit Code"
                  pattern="^\d{6}$"
                  [(ngModel)]="tfaCode"
                  required
                  onkeypress="return (event.charCode == 8 || event.charCode == 46 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                  onpaste="return false"
                  autocomplete="off"
                  maxlength="6"
                />
                <div
                  *ngIf="
                    tfa.errors &&
                    (tfa.valid || tfa.touched || tfalogin.submitted)
                  "
                  class="errMsg"
                >
                  <span *ngIf="tfa.errors?.['required']" class="error">{{
                    "Enter Auth Code"
                  }}</span>
                  <span *ngIf="tfa.errors?.['pattern']" class="error">{{
                    "6 Digit Only"
                  }}</span>
                </div>
              </div>
              <div class="form-group text-center">Or Login With</div>
              <div class="form-group">
                <ul class="socialicons">
                  <li>
                    <a href="#"><img src="assets/images/gmail-icon.svg" /></a>
                  </li>
                  <li>
                    <a href="#"
                      ><img src="assets/images/instagram-icon.svg"
                    /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/images/binance-icon.svg" /></a>
                  </li>
                  <li>
                    <a href="#"
                      ><img src="assets/images/metamask-icon.svg"
                    /></a>
                  </li>
                </ul>
              </div>
              <div class="form-group">
                By accessing the site, I confirm that I am 18 years old and I
                have read the <span class="green-t">terms of service</span>
              </div>
              <div class="form-group">
                <a
                  href="#"
                  class="green-t pointer"
                  data-toggle="modal"
                  data-target="#signup"
                  data-dismiss="modal"
                  aria-label="Close"
                  (click)="confirmedData()"
                  >Back to Login</a
                >
              </div>

              <button
                type="submit"
                class="btn sitebtn d-block w-100 pointer"
                data-dismiss="modal"
                aria-label="Close"
                (click)="logined(tfalogin)"
              >
                Login
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="forgot"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">forgot password</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center">
          <div class="col">
            <div class="text-center welcomebox">Welcome Pack</div>
            <h4 class="bf text-center my-4">
              Choose Your welcome Pack and
              <span class="green-t nl">Get 1000 APE + $3 400</span>
            </h4>
            <div class="boxwhl">
              <div class="box">
                <div class=""><img src="assets/images/gold.svg" /></div>
                <div class="bf">Gold</div>
                <div class="small bf green-t">1000 APE + $3 400</div>
              </div>
              <div class="box">
                <div class=""><img src="assets/images/gold.svg" /></div>
                <div class="bf">Gold</div>
                <div class="small bf green-t">1000 APE + $3 400</div>
              </div>
              <div class="box">
                <div class=""><img src="assets/images/gold.svg" /></div>
                <div class="bf">Gold</div>
                <div class="small bf green-t">1000 APE + $3 400</div>
              </div>
            </div>
            <h5 class="text-center my-4">
              Sign Up And Get<span class="nl green-t"
                >100 Nos Deposit Free Spins</span
              >
            </h5>
          </div>
          <div class="col mobx">
            <form #reset="ngForm" autocomplete="off">
              <div class="form-group">
                <input
                  type="email"
                  class="form-control darkinput"
                  placeholder="Email/Phone Number"
                  name="resetemail"
                  #restmail="ngModel"
                  ngModel
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                  required
                />
                <div
                  *ngIf="
                    restmail.errors &&
                    (restmail.valid || restmail.touched || reset.submitted)
                  "
                  class="errMsg"
                >
                  <span *ngIf="restmail.errors?.['required']" class="error">{{
                    "Enter Email"
                  }}</span>
                  <span *ngIf="restmail.errors?.['pattern']" class="error">{{
                    "Enter valid Email"
                  }}</span>
                </div>
              </div>
              <button
                type="submit"
                class="btn sitebtn d-block w-100"
                [disabled]="reset.invalid"
                (click)="executeAction('resetpass', reset)"
                data-dismiss="modal"
                aria-label="Close"
              >
                Reset Password
              </button>
              <div class="form-group text-center mt-4">Or Login With</div>
              <div class="form-group">
                <ul class="socialicons">
                  <li>
                    <a href="#"><img src="assets/images/gmail-icon.svg" /></a>
                  </li>
                  <li>
                    <a href="#"
                      ><img src="assets/images/instagram-icon.svg"
                    /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/images/binance-icon.svg" /></a>
                  </li>
                  <li>
                    <a href="#"
                      ><img src="assets/images/metamask-icon.svg"
                    /></a>
                  </li>
                </ul>
              </div>
              <div class="form-group">
                Already have an account
                <a
                  class="green-t pointer"
                  data-toggle="modal"
                  data-target="#signin"
                  data-dismiss="modal"
                  aria-label="Close"
                  (click)="confirmedData()"
                  >Sign in</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="resetpass"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle2"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Reset password</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center">
          <div class="col">
            <div class="text-center welcomebox">Welcome Pack</div>
            <h4 class="bf text-center my-4">
              Choose Your welcome Pack and
              <span class="green-t nl">Get 1000 APE + $3 400</span>
            </h4>
            <div class="boxwhl">
              <div class="box">
                <div class=""><img src="assets/images/gold.svg" /></div>
                <div class="bf">Gold</div>
                <div class="small bf green-t">1000 APE + $3 400</div>
              </div>
              <div class="box">
                <div class=""><img src="assets/images/gold.svg" /></div>
                <div class="bf">Gold</div>
                <div class="small bf green-t">1000 APE + $3 400</div>
              </div>
              <div class="box">
                <div class=""><img src="assets/images/gold.svg" /></div>
                <div class="bf">Gold</div>
                <div class="small bf green-t">1000 APE + $3 400</div>
              </div>
            </div>
            <h5 class="text-center my-4">
              Sign Up And Get<span class="nl green-t"
                >100 Nos Deposit Free Spins</span
              >
            </h5>
          </div>
          <div class="col">
            <form #chapass="ngForm" autocomplete="off">
              <div class="form-group">
                <label for="pass1">Password</label>
                <input
                  type="password"
                  name="pwd"
                  #pass="ngModel"
                  class="form-control darkinput"
                  id="pass1"
                  placeholder="Enter password"
                  [minlength]="8"
                  [maxlength]="20"
                  ngModel
                  required
                  (input)="conpass.control.updateValueAndValidity()"
                  (ngModelChange)="typePwd1($event)"
                />
                <div
                  *ngIf="
                    pass.errors &&
                    (pass.valid || pass.touched || login.submitted)
                  "
                  class="errMsg"
                >
                  <span *ngIf="pass.errors?.['required']" class="error">{{
                    "Enter Password"
                  }}</span>
                  <span *ngIf="pass.errors?.['minlength']" class="error">{{
                    "password must be 8-20 letters"
                  }}</span>
                </div>
              </div>
              <div class="form-group">
                <label for="pass2">Confirm Password</label>
                <input
                  type="password"
                  name="conpwd"
                  #conpass="ngModel"
                  class="form-control darkinput"
                  id="pass2"
                  placeholder="Enter password"
                  [minlength]="8"
                  [maxlength]="20"
                  ngModel
                  required
                  (ngModelChange)="checkpassword($event)"
                />
                <div
                  *ngIf="
                    conpass.errors &&
                    (conpass.valid || conpass.touched || login.submitted)
                  "
                  class="errMsg"
                >
                  <span *ngIf="conpass.errors?.['required']" class="error">{{
                    "Enter Password"
                  }}</span>
                  <span *ngIf="conpass.errors?.['minlength']" class="error">{{
                    "password must be 8-20 letters"
                  }}</span>
                </div>
                <div *ngIf="!checkpwd && conpass.valid" class="errMsg">
                  <span *ngIf="!checkpwd" class="error">{{
                    "Password does not match"
                  }}</span>
                </div>
              </div>
              <button
                type="submit"
                class="btn sitebtn d-block w-100"
                [disabled]="chapass.invalid"
                (click)="executeAction('confirmpass', chapass)"
                data-dismiss="modal"
                aria-label="Close"
              >
                Confirm
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
